[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pycryptodomex = "*"
click = "*"
pycryptodome = "*"
pyperclip = "*"
sqlalchemy = "*"
flake8 = "*"
flake8-isort = "*"
flake8-quotes = "*"
isort = "*"
sos = { editable = true, path = "." }
pwdone = { editable = true, path = "." }

[requires]
python_version = "3.8"
